body{
    width: 1160px;
    margin: auto;
    
}
a{
color: inherit;
text-decoration: none;
}

header{
    padding-top: 20px;
    text-align: center;
    background-color: #782221;
    color:#fff;

}


.rounded_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.rounded_image:hover{
    /* cursor: zoom-in; */
    cursor: zoom-in;
 
}




.contact{
    height: 30% ;
    text-align: center;
    background-color: #2c1d27;
    color:#fff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 50px;
}


main{
    display: flex;
    


  
  
}

h2{
    background-color: #dbc2a4; 
}



#section_left{
    background-color: #782221; 
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#section_right{

width: 100%;
flex-direction: column;
padding-left: 50px ;
border-right: 2px solid #ccc;
padding-right: 50px;
}

/* .rectangle{
height: 100%;
width: 10px;
background-color: #3d035f; 
display: flex;
} */

footer{
    height: 100px;
    background-color: #782221; 
    display: flex;
    justify-content: center;


}

i{
    font-size: 50px;
}

#section_right h2{
   background: linear-gradient(to right, #782221 1%, #dbc2a4 1%);
   padding-left: 10px;
}

.Experience:hover,
.Diplome_formation:hover,
.Competences:hover {
    border-right: 2px solid #B22222; /* Ajouter un trait bordeaux à droite au survol */
}

footer a:nth-child(1){color: #5e7feb}
footer a:nth-child(2){color: #50abf1}
footer a:nth-child(3){color: #ffffff}

.social-icon {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.social-icon:hover {
    opacity: 0.6; /* Opacité réduite au survol */
}

